<footer class="footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="footer__content">
      <div class="footer__item">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer__item">
        {%- include social.html -%}
      </div>

      <div class="footer__item">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>
  <div class="banner">
    {%- include banner.html -%}
  </div>
</footer>
